[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pullword"]
	path = pullword
	url = https://github.com/hetong007/pullword
	shallow = true
	registered = true
[submodule "rLTP"]
	path = rLTP
	url = https://github.com/hetong007/rltp
	shallow = true
	registered = true
